#ui {
    position: absolute;
    pointer-events: none;
    width: var(--w);
    height: var(--h);
    margin: auto;
}

#ui button {
    pointer-events: auto;
}

#ui > div {
    position: absolute;
    margin: auto;
    width: var(--w);
    height: var(--h);
}

.btn1 button {
    height: 50px;
    color: white;
    background-color: darkblue;
    border: 3px solid blue;
    font-size: 1.5em;
}

.btn1 button:hover {
    color: gray;
}

.btn1 button:active {
    border-color: darkblue;
    background-color: blue;
    color: black;
}
