.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.full-height {
    height: var(--h);
}

.good-width {
    width: min(90vw, 600px);
}

.auto-margin {
    margin: auto;
}