.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.full-height {
    height: var(--h);
}

.good-width {
    width: min(90vw, 600px);
}

.full-width {
    width: 100vw;
}

.auto-margin {
    margin: auto;
}

.margin-25 {
    margin-left: 25%;
}

.isAbsolute {
    position: absolute;
}

.no-touch-action {
    touch-action: none;
}