* {box-sizing: border-box}

html, body {
    -webkit-overscroll-behavior: none;
    overscroll-behavior: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    box-sizing: border-box;
    background-color: gray;
    -webkit-touch-callout: none;
}

.disable-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

